<!DOCTYPE html>
<html lang="en">
{% include 'head.html.twig'%}
<body>

{% include 'header.html.twig' %}

<main>
    {% include 'content.html.twig' %}
</main>
{% include 'footer.html.twig' %}
</body>
</html>
