<!DOCTYPE html>
<html lang="en">
{% include 'head.html.twig'%}
<body>

{% include 'header.html.twig' %}

<main>
    <h1 class="">Imprint</h1>
    <h2>Website Owner</h2>
    <p>
        Name: John Doe Web Solutions Ltd. <br>
        Address: Example Street 123, 1010 Vienna, Austria <br>
        Contact: <br>
        Phone: +43 123 456 789 <br>
        Email: contact@example.com <br>
        Website: www.example-website.com
    </p>

    <h2>Responsible for Content</h2>
    <p>
        John Doe <br>
        Address: Example Street 123, 1010 Vienna, Austria <br>
        Email: john.doe@example.com
    </p>

    <h2>Legal Information</h2>
    <p>
        VAT Identification Number: ATU12345678 <br>
        Commercial Register: FN 123456a, Commercial Court Vienna
    </p>

    <h2>Disclaimer</h2>
    <p>
        The content of this website has been created with the utmost care. However, we cannot guarantee the accuracy, completeness, or timeliness of the content. As a service provider, we are responsible for our own content on these pages under general laws. However, we are not obliged to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity.
    </p>

    <h2>Liability for Links</h2>
    <p>
        Our website contains links to external websites over which we have no control. Therefore, we cannot accept any responsibility for their content. The respective provider or operator of the pages is always responsible for the content of the linked pages.
    </p>

    <h2>Copyright</h2>
    <p>
        The content and works on these pages created by the site operators are subject to copyright law. Duplication, processing, distribution, and any kind of exploitation outside the limits of copyright require the written consent of the respective author or creator.
    </p>
</main>
{% include 'footer.html.twig' %}
</body>
</html>
